h5py==3.5.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_163051193224
keras==2.7.0
Keras-Preprocessing==1.1.2
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1634088717532/work
opencv-python==4.5.5.64
pandas @ file:///C:/ci/pandas_1635506685681/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow-metadata==1.7.0
